{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/pwmdb1"
    },
    "cloudant": {
      "db": "https://irmingstaincelinadiftent:dv6wG3mUVMWP2brsvHgAjqWC@eproctor.cloudant.com/pword1db"
    }
  }
}
